/*** Body ***/

.card,
body {
  display: flex;
}

.card-link,
body {
  font-size: 1rem;
}

.card-link {
  letter-spacing: 0.0178571em;
  font-weight: 500;
}

body {
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #212529;
  background-color: #ced4da;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body .footer {
  margin-top: auto;
}

.card {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #00000020;
  border-radius: 0.8rem;
}

.card-footer,
.card-img {
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.card-smooth-caption,
.card-img-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-smooth-caption {
  background: linear-gradient(#00000000, #000000fa) #00000000;
  padding: 2rem 1.5rem 1.5rem;
}

.card-footer {
  padding: 1.5rem;
  background-color: transparent;
  border-top: 0;
}

.card-cup,
.card-img {
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem 1.25rem;
}

.card-title {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
}

.badge-warning2,
.text-muted,
.read-more {
  font-family: Roboto, sans-serif !important;
}

.card-subtitle,
.card-text:last-child {
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: 400;
  margin-top: 0.2rem;
}

.card-link + .card-link {
  margin-left: 1.5rem;
}

.card-footer:last-child {
  border-radius: 0 0 0.8rem 0.8rem;
}

.card-img-overlay {
  top: 0;
  padding: 1.25rem;
  border-radius: 0.8rem;
}

.card-img {
  flex-shrink: 0;
  width: 100%;
}

.card-columns {
  padding-top: 15px;
}

.card-columns .card {
  margin-bottom: 12px !important;
}

@media (min-width: 420px) {
  .card-columns {
    column-count: 2;
    column-gap: 0.5rem;
    orphans: 2;
    widows: 2 !important;
  }
}

@media (min-width: 576px) {
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }

  .card-columns {
    column-count: 3;
    column-gap: 0.5rem;
    orphans: 4;
    widows: 4;
  }

  .container {
    max-width: 98%;
  }
}

@media (min-width: 796px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.125rem;
    orphans: 4;
    widows: 4;
  }
}

@media (min-width: 966px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .container {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

.card-cup {
  height: 130px;
  width: 100%;
}

p.card-text,
.secondary {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.75;
  line-height: 25px;
  text-overflow: clip;
  font-family: source sans pro;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card.border-0 {
  /* box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
  background: hsl(220deg 14% 97%) !important;
  text-align: left;
  background-color: #fff !important; */
  position: relative;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  color: #000 !important;
}

.badge-warning2,
.h2.mb-2 {
  text-transform: uppercase;
}

.h2.mb-2 {
  font-size: 21px;
  font-weight: 900;
  font-family: Roboto;
  letter-spacing: -0.125px;
  text-shadow: 0.25pt 0.3pt 1pt #343a40, 0.75pt 1.3pt 2pt #343a40;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badge-warning2 {
  background: linear-gradient(
    135deg,
    transparent 0,
    transparent 8%,
    rgba(255, 255, 255, 0.03) 30%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0) 68%
  ) !important;
  background-color: rgba(230, 230, 230, 0.45) !important;
  border-radius: 6px;
  border-color: #ffffff99 #ffffff60 #0001 #ffffff50 !important;
  backdrop-filter: blur(11px) saturate(110%) !important;
  box-shadow: 0 1px 5px 1px rgb(41 41 41 / 45%),
    0 0.33em 0.725em -0.455em rgb(0 0 0 / 40%),
    inset 0 0.0625em 0 rgb(255 255 255 / 50%),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 28%) !important;
  border: 2px outset rgba(255, 255, 255, 0.3) !important;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1666666667em !important;
  line-height: 18px;
  text-shadow: 0.25px 0.25px 0.85px #f8f9fa,
    0.125px 0.125px 1px rgb(83 97 110 / 83%);
  color: #22262a !important;
}

span.badge.badge-light {
  padding: 3.5px 5.5px;
  font-size: 12px;
  background-image: linear-gradient(#c1353e, #c22b3a, #e42d49, #e32c3e);
  box-shadow: 0 0 0.25px #e42d49,
    -0.5px -0.75px 1px rgb(241 249 255 / 15%) inset,
    -0.75px -1.5px 1.5px rgb(44 6 13 / 5%) inset, 0 -0.5px 0.75px 0.25px #c1353e,
    0 0.5px 0.75px 0.25px #e32c3e, 0 -0.75px 2px -0.75px #c1353e,
    0 0.75px 2px -0.75px #e32c3e, -0.5px -2px 3px 0.75px rgb(44 6 13 / 85%),
    -1.75px -2.5px 2.5px -0.25px rgb(150 90 64 / 35%),
    -0.75px -0.75px 0.625px 0.25px rgb(150 90 64 / 50%),
    -0.85px -0.35px 0.85px 0 rgb(201 149 135 / 55%),
    -1.25px -1.25px 1.65px 0 rgb(201 149 135 / 25%);
  border-radius: 4px;
  font-family: Roboto;
  color: #fff;
}

.card-img-overlay.--card-img-overlay-purple {
  /* background-image: url(https://assets.codepen.io/4927073/hero10.jpg); */
  background-size: cover;
  background-position: 0 0;
  height: 100% !important;
  width: 100%;
  position: relative;
  border-radius: 12px !important;
}

.card.border-0.three {
  box-shadow: rgb(0 0 0 / 23%) 0 0.0625em 0.0625em,
    rgb(0 0 0 / 20%) 0 0.25em 0.25em,
    rgb(0 0 0 / 18%) 0 0.45em 1.105em -0.0625em !important;
}

.card.border-0.three h5.card-title {
  top: 25% !important;
  position: absolute;
  z-index: 1;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  color: #000;
  text-shadow: 0.5px 1px 0.5px #fff, -1px -1px 2px #eee;
}

.card.border-0.three hr {
  margin-bottom: -15px !important;
  margin-top: 0 !important;
}

.mt-n5,
.my-n5 {
  margin-top: -4rem !important;
}

.card-footer.card-footer.two {
  border-radius: 2px !important;
  margin: 0 auto auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 0;
  column-gap: 14px;
  font-size: 0.89rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.read-more.two {
  width: auto;
  margin-top: -10px;
  padding: 4px 20px;
  font-size: 10px;
}

blockquote.blockquote.mb-0 {
  color: #fff;
  font-size: 13px;
  font-family: Roboto;
  text-align: left;
  line-height: 1.25;
  padding: 8px 9px !important;
  text-shadow: 0 0.025em #000;
  border-radius: 6px;
  border: 1.25px outset rgba(255, 255, 255, 0.3);
  margin: auto;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 94.1%, 0) 20%,
    hsla(0, 0%, 94.1%, 0.12)
  );
  box-shadow: inset 7px 7px 0 -6px hsl(0deg 0% 94% / 12%),
    inset -1px 1px 4px -1px hsl(0deg 0% 94% / 60%);
  backdrop-filter: blur(8px);
  font-weight: 400;
}

.h3 {
  box-shadow: 10px 0 15px 10px hsl(210deg 100% 2% / 15%);
  backdrop-filter: blur(20px) contrast(0.75) saturate(2) brightness(0.5)
    opacity(0.5);
  border-radius: 12px !important;
  width: 75%;
  display: inline-flex;
  padding: 4px 8px;
  font-size: 28px;
  text-transform: capitalize;
  letter-spacing: 0;
  font-family: Manrope !important;
  font-weight: 800 !important;
}

span.badge {
  color: #f9fafb !important;
  font-weight: 400;
  border-radius: 5px !important;
  letter-spacing: 0.135em !important;
  font-family: antique-olive !important;
  padding: 4px 5px !important;
  box-shadow: 0 0 0.25px hsl(208deg 7% 46%),
    -0.5px -0.75px 1px 0.25px hsl(206deg 100% 97% / 30%) inset,
    -0.75px -1.5px 1.5px 0.5px hsl(349deg 5% 10% / 10%) inset,
    0 -0.5px 0.75px 0.25px hsl(210deg 17% 50% / 15%),
    0 0.5px 0.75px 0.25px hsl(210deg 17% 50% / 15%),
    0 -0.75px 2px -0.75px hsl(210deg 16% 50% / 15%),
    0 0.75px 2px -0.75px hsl(0deg 0% 4% / 25%),
    -0.5px -2px 3px 0.75px hsl(349deg 4% 10% / 10%),
    -1.75px -2.5px 2.5px -0.25px hsl(0deg 0% 42% / 7%),
    -0.75px -0.75px 0.625px 0.25px hsl(18deg 40% 2% / 10%),
    -0.85px -0.35px 0.85px 0 hsl(13deg 38% 4% / 12%),
    -1.25px -1.25px 1.65px 0 hsl(13deg 38% 4% / 5%);
}

.badge-warning {
  color: #dee2e6 !important;
  background-color: #3e8ef1;
  background-image: linear-gradient(
    hsl(218deg 66% 53%),
    hsl(216deg 73% 51%),
    hsl(213deg 86% 59%),
    hsl(216deg 86% 58%)
  );
  box-shadow: 0 0 0.25px #3d8df0,
    -0.5px -0.75px 1px hsl(206deg 100% 97% / 15%) inset,
    -0.75px -1.5px 1.5px hsl(349deg 76% 10% / 5%) inset,
    0 -0.5px 0.75px 0.25px #3872d6, 0 0.5px 0.75px 0.25px #3881f0,
    0 -0.75px 2px -0.75px #3872d6, 0 0.75px 2px -0.75px #3881f0,
    -0.5px -2px 3px 0.75px hsl(211deg 85% 10% / 85%),
    -1.75px -2.5px 2.5px -0.25px hsl(240deg 49% 47% / 35%),
    -0.75px -0.75px 0.625px 0.25px hsl(240deg 49% 47% / 50%),
    -0.85px -0.35px 0.85px 0 hsl(235deg 40% 71% / 55%),
    -1.25px -1.25px 1.65px 0 hsl(235deg 40% 71% / 25%) !important;
}

.badge-lightblue {
  background-image: linear-gradient(
    hsl(207deg 14% 71%),
    hsl(205deg 21% 69%),
    hsl(202deg 34% 77%),
    hsl(205deg 34% 76%)
  ) !important;
  box-shadow: 0 0 0.25px hsl(202deg 34% 77%),
    -0.5px -0.75px 1px hsl(206deg 100% 97% / 15%) inset,
    -0.75px -1.5px 1.5px hsl(200deg 33% 10% / 5%) inset,
    0 -0.5px 0.75px 0.25px hsl(207deg 14% 71%),
    0 0.5px 0.75px 0.25px hsl(205deg 34% 76%),
    0 -0.75px 2px -0.75px hsl(207deg 14% 71%),
    0 0.75px 2px -0.75px hsl(205deg 34% 76%),
    -0.5px -2px 3px 0.75px hsl(200deg 33% 10% / 85%),
    -1.75px -2.5px 2.5px -0.25px hsl(0deg 0% 65% / 35%),
    -0.75px -0.75px 0.625px 0.25px hsl(0deg 0% 65% / 50%),
    -0.85px -0.35px 0.85px 0 hsl(0deg 0% 89% / 55%),
    -1.25px -1.25px 1.65px 0 hsl(0deg 0% 89% / 25%) !important;
}
